@charset "UTF-8";
p {
	color: blue;
	text-align: center;
	font-family: arial;
	font-size: 150%}
.p3 {
/*     color:blue; */
    background-color: silver;
}
.p2 {
	color: blue;
	text-align: right;
	font-size: 100%;
	
}
.p2 span{
	color: #00dd00;
}
.p1{
	color: black;
	text-align: center;
}
