@charset "UTF-8";
p{
	
	color: black;
	text-align: center;
	font-family: arial;
	font-size: 80%;
}
h1{
	text-align: center;
	font-size: 300%;
}
.p1{
	text-align: left;
	margin: 20px;
	font-size: 120%;
}
hr{
	width: 90%;
	text-align: center
}